<div class="container">

  <div class="row" style="margin-top:2%;">
    <div class="col-lg-12">
      <h3 style="color: #050a4a;text-align: center;"> Inserir Questões </h3>
    </div>
  </div>

<form (ngSubmit)="insereQuestao()">
  <div class="row" style="margin-top:2%;">
    <div class="col-lg-12">
      <p style="text-align: left;font-size: 1.3em;">Curso</p>
      <select class="form-control" [(ngModel)]="questao.curso" name="curso">
        <option>Selecionar Curso</option>
        <option value="1001"> Engenharia de Software </option>
      </select>
    </div>
  </div>

  <div class="row" style="margin-top:2%;">
    <div class="col-lg-12">
      <p style="text-align: left;font-size: 1.3em;">Semestre</p>
      <select class="form-control" [(ngModel)]="questao.semestres" name="semestres">
        <option>Selecionar Semestre</option>
        <option value="00011001"> 1° Semestre </option>
      </select>
    </div>
  </div>

  <div class="row" style="margin-top:2%;">
    <div class="col-lg-12">
      <p style="text-align: left;font-size: 1.3em;">Matéria</p>
      <select class="form-control" [(ngModel)]="questao.materia" name="materia">
        <option>Selecionar Matéria</option>
        <option value="000110011"> Introdução a Computação </option>
        <option value="000110012"> Algoritmo e Lógica de Programação I </option>
        <option value="000110013"> Programação de Computadores I </option>
        <option value="000110014"> Cálculo Diferencial e Integral </option>
        <option value="000110015"> Comunicação e Expressão I </option>
        <option value="000110016"> Metodologia de Pesquisa Científica I </option>
      </select>
    </div>
  </div>

  <div class="row" style="margin-top:2%;">
    <div class="col-lg-12">
      <p style="text-align: left;font-size: 1.3em;">Nível</p>
      <select class="form-control" [(ngModel)]="questao.nivel" name="nivel">
        <option> Selecionar Nível </option>
        <option value="1"> Fácil </option>
        <option value="2"> Mediano </option>
        <option value="3"> Difícil </option>
        <option value="4"> Muito Difícil </option>
      </select>
    </div>
  </div>

  <div class="row" style="margin-top:2%;">
      <div class="col-lg-12">
        <p style="text-align: left;font-size: 1.3em;">Questão</p>
        <textarea class="form-control" id="areaQuestao" rows="3" [(ngModel)]="questao.enunciado" name="enunciado"></textarea>
      </div>
  </div>

  <div class="row" style="margin-top:2%;margin-bottom:5%;">
      <div class="col-lg-12">
        <p style="text-align: left;font-size: 1.3em;">Alternativas</p>

        <div class="input-group alternativa-questao">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="radio" name="alternativa-questao" aria-label="Radio button for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with radio button">
        </div>

        <div class="input-group alternativa-questao">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="radio" name="alternativa-questao" aria-label="Radio button for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with radio button">
        </div>

        <div class="input-group alternativa-questao">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="radio" name="alternativa-questao" aria-label="Radio button for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with radio button">
        </div>

        <div class="input-group alternativa-questao">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="radio" name="alternativa-questao" aria-label="Radio button for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with radio button">
        </div>

        <div class="input-group alternativa-questao">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="radio" name="alternativa-questao" aria-label="Radio button for following text input">
            </div>
          </div>
          <input type="text" class="form-control" aria-label="Text input with radio button">
        </div>

      </div>
  </div>

  <div class="row" style="margin-top:2%;">
    <div class="col-lg-12">
      <button class="btn btn-default" type="submit"> Salvar Questão </button>
    </div>
  </div>

</form>

</div>
